@import '~ggApp/utils/mixins/screens';

.layoutFlexWrap{
  display: flex;

  &--columnDirection{
    flex-direction: column;
  }

  &--flexOne{
    flex: 1;
  }

  &--bottomMargin{
    margin-bottom: 60px;
  }

  &--bottomTop{
    margin-bottom: 30px;
  }
}

@media (#{$phone}) and (#{$desktopMax}) {
  .layoutFlexWrap{
    &--bottomMargin{
      margin-bottom: 30px;
    }

    &--bottomTop{
      margin-bottom: 15px;
    }
  }
}