@import '~app/utils/mixins/screens';

.portoflioList{
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    
    > div {
      width: 50%;
      height: 450px;
    }
  }
}

@media (#{$desktop}) and (#{$largeDesktopMax}) {
  .portoflioList {
    &__wrap {
      > div {
        height: 400px;
      }
    }
  }
}

@media (#{$tablet}) and (#{$desktopMax}) {
  .portoflioList {
    &__wrap {
      > div {
        height: 350px;
      }
    }
  }
}

@media (#{$phoneScreen}) and (#{$tabletMax}) {
  .portoflioList {
    &__wrap {
      > div {
        width: 100%;
      }
    }
  }
}

@media (#{$phone}) and (#{$phoneScreenMax}) {
  .portoflioList {
    &__wrap {
      > div {
        
      }
    }
  }
}