@import '~app/utils/mixins/screens';

.layoutPromo {
  position: relative;
  background: #161616;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    width: 290px;
    height: 50px;
    margin: auto;

    background-image: url(./images/logo--mini.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  &__note {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    font-style: italic;
  }

}
