.layoutTopmenu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;

  &__list{
    display: flex;
    justify-content: center;
  }

  &__link{
    padding: 15px 15px;
    position: relative;

    div{
      position: relative;
      z-index: 5;
      transition: all 0.1s ease;
      font-weight: 700;
      letter-spacing: 0.5px;
      text-decoration: underline;
    }

    &:hover{
      div{
        letter-spacing: 2px;
      }
    }

  }

  &--fixed{
    background: #000;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -10px, 0);

    transition: all 0.5s ease;

    &.layoutTopmenu--show{
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }
  }
}