@import '~app/utils/mixins/screens';

.layoutTopmenu{
  width: 100%;
  z-index: 50;
  padding: 15px 0;
  overflow: hidden;

  &__wrap{
    display: flex;
  }

  &__logo{
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 15px;
    background-image: url(./images/logo--white.svg);
  }

  &__list{
    display: flex;
    justify-content: center;
  }

  &__link{
    padding: 15px 15px;
    position: relative;

    div{
      position: relative;
      z-index: 5;
      font-weight: 700;
      letter-spacing: 0.5px;
      text-decoration: underline;
    }

    &:hover{
      div{
        color: #ffd700;
      }
    }

  }

  &--fixed{
    background: rgba(#000, 0.75);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    border-bottom: none;

    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -10px, 0);

    transition: all 0.5s ease;

    &.layoutTopmenu--show{
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }
  }
}

@media (#{$phone}) and (#{$desktopMax}) {
  .layoutTopmenu{
    &__logo{
      position: absolute;
      width: 150px;
      height: 150px;
      opacity: 0.25;
      top: -15px;
    }

    &--fixed{
      display: none;
    }
  }
}
