.portoflioFilter{
  background: #000;

  &__list{
    display: flex;
    justify-content: center;
  }

  &__link{
    padding: 12px 5px;

    > div{
      padding: 3px 10px;
      transition: all 0.15s ease;
      border-radius: 2px;

      > div{
        border-bottom: 1px dashed rgba(#fff, 0.5);
        transition: all 0.15s ease;
      }
    }

    &:hover > div{
      background: rgba(#fff, 0.15);
      > div{
        border-bottom: 1px dashed rgba(#fff, 0.15);
      }
    }

    &--active{
      > div{
        border-bottom: 1px dashed rgba(#fff, 0);
        padding: 3px 10px;
        margin: 0;
        background: #fff !important;

        > div{
          color: #000;
        }
      }
    }
  }
}