@import '~app/utils/mixins/screens';

.container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;

  &--long{
    max-width: 100%;
  }
}

@media (#{$phone}) and (#{$desktopMax}) {
  .container{
    padding: 0 15px;
  }
}