@import '~app/utils/mixins/screens';

.layoutBrief {
  margin-bottom: 60px;
  
  &__note {
    max-width: 600px;
    margin: 60px auto;
    // text-align: center;
    // font-size: 14px;
    // font-weight: 300;
    // letter-spacing: 1px;
    // font-style: italic;
  }

  &__highlight {
    width: 100%;
    max-width: 800px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    background: #eee;
  }

}
